Table: Employee

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the name of an employee, their department, and the id of their manager.
If managerId is null, then the employee does not have a manager.
No employee will be the manager of themself.
 

Write a solution to find managers with at least five direct reports.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Employee table:
+-----+-------+------------+-----------+
| id  | name  | department | managerId |
+-----+-------+------------+-----------+
| 101 | John  | A          | null      |
| 102 | Dan   | A          | 101       |
| 103 | James | A          | 101       |
| 104 | Amy   | A          | 101       |
| 105 | Anne  | A          | 101       |
| 106 | Ron   | B          | 101       |
+-----+-------+------------+-----------+
Output: 
+------+
| name |
+------+
| John |
+------+

In [1]:
import pandas as pd

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    return employee[employee.id.isin(employee[['managerId','name']].groupby('managerId').count().reset_index().rename(columns = {'name':'count'}).query('count >= 5').managerId.to_list())][['name']]

In [2]:
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})

In [3]:
employee

    id   name department  managerId
0  101   John          A       <NA>
1  102    Dan          A        101
2  103  James          A        101
3  104    Amy          A        101
4  105   Anne          A        101
5  106    Ron          B        101

In [4]:
employee[employee.id.isin(employee[['managerId','name']].groupby('managerId').count().reset_index().rename(columns = {'name':'count'}).query('count >= 5').managerId.to_list())][['name']]

   name
0  John

In [5]:
find_managers(employee)

   name
0  John