Table: Patients

+--------------+---------+
| Column Name  | Type    |
+--------------+---------+
| patient_id   | int     |
| patient_name | varchar |
| conditions   | varchar |
+--------------+---------+
patient_id is the primary key (column with unique values) for this table.
'conditions' contains 0 or more code separated by spaces. 
This table contains information of the patients in the hospital.
 

Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Patients table:
+------------+--------------+--------------+
| patient_id | patient_name | conditions   |
+------------+--------------+--------------+
| 1          | Daniel       | YFEV COUGH   |
| 2          | Alice        |              |
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 |
| 5          | Alain        | DIAB201      |
+------------+--------------+--------------+
Output: 
+------------+--------------+--------------+
| patient_id | patient_name | conditions   |
+------------+--------------+--------------+
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 | 
+------------+--------------+--------------+
Explanation: Bob and George both have a condition that starts with DIAB1.

In [1]:
import pandas as pd

def check_diab1(condition:str)->bool:
    lst = condition.split(" ")
    return(True in ["DIAB1" in i[:5] for i in lst])

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    return patients[patients.apply(func = lambda row: check_diab1(row["conditions"]), axis=1)]

In [2]:
df1 = pd.DataFrame(data = {'patient_id':[i for i in range(1,6)], 
                           'patient_name':['Daniel', 'Alice', 'Bob', 'George', 'Alain'], 
                           'conditions':["YFEV COUGH", "", "DIAB100 MYOP", "ACNE DIAB100", "DIAB201"]})

df1

   patient_id patient_name    conditions
0           1       Daniel    YFEV COUGH
1           2        Alice
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100
4           5        Alain       DIAB201

In [3]:
df2 = pd.DataFrame(data = {'patient_id':[i for i in range(2)], 
                           'patient_name':['Daniel', 'Amond'], 
                           'conditions':["YFEV DIAB1", "TIMDIAB1LO"]})

df2

   patient_id patient_name  conditions
0           0       Daniel  YFEV DIAB1
1           1        Amond  TIMDIAB1LO

In [4]:
df1.loc[["DIAB1" in i for i in df1.conditions]]

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

In [5]:
df2.conditions[0].split(" ")

['YFEV', 'DIAB1']

In [6]:
True in ["DIAB1" in i[:5] for i in df2.conditions[0].split(" ")]

True

In [7]:
["DIAB1" in i[:5] for i in "".split(" ")]

[False]

In [8]:
df1[df1.apply(func = lambda row: check_diab1(row["conditions"]), axis=1)]

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

In [9]:
find_patients(df1)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

In [10]:
find_patients(df2)

   patient_id patient_name  conditions
0           0       Daniel  YFEV DIAB1