Table: Tweets

+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| tweet_id       | int     |
| content        | varchar |
+----------------+---------+
tweet_id is the primary key (column with unique values) for this table.
This table contains all the tweets in a social media app.
 

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Tweets table:
+----------+----------------------------------+
| tweet_id | content                          |
+----------+----------------------------------+
| 1        | Vote for Biden                   |
| 2        | Let us make America great again! |
+----------+----------------------------------+
Output: 
+----------+
| tweet_id |
+----------+
| 2        |
+----------+
Explanation: 
Tweet 1 has length = 14. It is a valid tweet.
Tweet 2 has length = 32. It is an invalid tweet.

In [1]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return(tweets.loc[[k > 15 for k in [len(i) for i in tweets.content]],['tweet_id']])

In [2]:
df1 = pd.DataFrame({'tweet_id':[1,2],'content':['Vote for Biden','Let us make America great again!']})
df1

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

In [3]:
invalid_tweets(df1)

   tweet_id
1         2

In [4]:
df1.loc[[k > 15 for k in [len(i) for i in df1.content]],['tweet_id']]

   tweet_id
1         2