Table: Users

+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| user_id       | int     |
| name          | varchar |
| mail          | varchar |
+---------------+---------+
user_id is the primary key (column with unique values) for this table.
This table contains information of the users signed up in a website. Some e-mails are invalid.
 

Write a solution to find the users who have valid emails.

A valid e-mail has a prefix name and a domain where:

The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
The domain is '@leetcode.com'.
Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Users table:
+---------+-----------+-------------------------+
| user_id | name      | mail                    |
+---------+-----------+-------------------------+
| 1       | Winston   | winston@leetcode.com    |
| 2       | Jonathan  | jonathanisgreat         |
| 3       | Annabelle | bella-@leetcode.com     |
| 4       | Sally     | sally.come@leetcode.com |
| 5       | Marwan    | quarz#2020@leetcode.com |
| 6       | David     | david69@gmail.com       |
| 7       | Shapiro   | .shapo@leetcode.com     |
+---------+-----------+-------------------------+
Output: 
+---------+-----------+-------------------------+
| user_id | name      | mail                    |
+---------+-----------+-------------------------+
| 1       | Winston   | winston@leetcode.com    |
| 3       | Annabelle | bella-@leetcode.com     |
| 4       | Sally     | sally.come@leetcode.com |
+---------+-----------+-------------------------+
Explanation: 
The mail of user 2 does not have a domain.
The mail of user 5 has the # sign which is not allowed.
The mail of user 6 does not have the leetcode domain.
The mail of user 7 starts with a period.

In [1]:
import pandas as pd

def email_acceptability(email:str)->bool:
    lst = email.split('@')
    
    if (len(lst) != 2):
        return(False)
    else:
        if ((lst[1] != 'leetcode.com') | (not lst[0][0].isalpha() ) | (not ''.join(char for char in lst[0] if char not in '.-_').isalnum())):
            return(False)
        else:
            return(True)

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    return users.loc[users.apply(func=lambda row:email_acceptability(row['mail']), axis=1)]

In [2]:
df1 = pd.DataFrame({'user_id':[1,2,3,4],
                    'name':['Winston','Jonathan','Annabelle','Sally'],
                    'mail':['winston@leetcode.com','jonathanisgreat','bella-@leetcode.com','sally.come@leetcode.com']})

df1

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        2   Jonathan          jonathanisgreat
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com

In [3]:
valid_emails(df1)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com

In [4]:
somestring = df1.mail[3].split('@')[0]
not ''.join(char for char in somestring if char not in '.-_').isalnum()

False

In [5]:
df1.loc[df1.apply(func=lambda row:email_acceptability(row['mail']), axis=1)]

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com