Table: Users

+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| user_id        | int     |
| name           | varchar |
+----------------+---------+
user_id is the primary key (column with unique values) for this table.
This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.
 

Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by user_id.

The result format is in the following example.

 

Example 1:

Input: 
Users table:
+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | aLice |
| 2       | bOB   |
+---------+-------+
Output: 
+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | Alice |
| 2       | Bob   |
+---------+-------+

In [1]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users.apply(func = lambda row: row['name'].capitalize(), axis = 1)
    return users.sort_values(by = 'user_id', ascending = True)

In [2]:
df1 = pd.DataFrame({'user_id':[1,2],'name':['aLice','bOB']})
df1

   user_id   name
0        1  aLice
1        2    bOB

In [3]:
fix_names(df1)

   user_id   name
0        1  Alice
1        2    Bob