Table: Customers

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| id          | int     |
| name        | varchar |
+-------------+---------+
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.
 

Table: Orders

+-------------+------+
| Column Name | Type |
+-------------+------+
| id          | int  |
| customerId  | int  |
+-------------+------+
id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
 

Write a solution to find all customers who never order anything.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Customers table:
+----+-------+
| id | name  |
+----+-------+
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
+----+-------+
Orders table:
+----+------------+
| id | customerId |
+----+------------+
| 1  | 3          |
| 2  | 1          |
+----+------------+
Output: 
+-----------+
| Customers |
+-----------+
| Henry     |
| Max       |
+-----------+

In [1]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    return(customers.loc[~customers.id.isin([el for el in customers.id.to_list() if el in orders.customerId.to_list()]),['name']]).rename(columns = {'name':'Customers'})

In [2]:
df1 = pd.DataFrame(data = {'id':[1,2,3,4],'name':['Joe','Henry','Sam','Max']})
df2 = pd.DataFrame(data = {'id':[1,2],'customerId':[3,1]})

In [3]:
df1

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [4]:
df2

   id  customerId
0   1           3
1   2           1

In [5]:
find_customers(customers = df1, orders = df2)

  Customers
1     Henry
3       Max

In [6]:
df1.id.to_list()

[1, 2, 3, 4]

In [7]:
df2.customerId.to_list()

[3, 1]

In [8]:
[el for el in df1.id.to_list() if el in df2.customerId.to_list()]

[1, 3]

In [9]:
df1.id.isin([el for el in df1.id.to_list() if el in df2.customerId.to_list()])

0     True
1    False
2     True
3    False
Name: id, dtype: bool